name: release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        if: ${{ steps.release-please.outputs.release_created }}

      - name: Set up Python
        if: ${{ steps.release-please.outputs.release_created }}
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        if: ${{ steps.release-please.outputs.release_created }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel twine build

      - name: Package project
        if: ${{ steps.release-please.outputs.release_created }}
        run: python -m build

      - name: Upload distributions
        if: ${{ steps.release-please.outputs.release_created }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: twine upload dist/*
