name: release

on:
  push:
    branches:
      - main

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Create changelog and release PR on normal commits. When release PR is merged,
      # create a new release with the changelog in the release notes
      - uses: google-github-actions/release-please-action@v3
        id: release-please
        with:
          release-type: python
          extra-files: |
            tackle/__init__.py
          changelog-types: |
            [
              {"type":"feat","section":"Features","hidden":false},
              {"type":"fix","section":"Bug Fixes","hidden":false},
              {"type":"perf","section":"Performance Improvements","hidden":false},
              {"type":"refactor","section":"Refactors","hidden":false},
              {"type":"revert","section":"Reversions","hidden":false},
              {"type":"provider","section":"Provider Changes","hidden":false}
            ]

      # Release to pypi if previous action resulted in creating a new release which
      # happens when the release-please PR is merged
      - name: Set up Python
        if: ${{ steps.release-please.outputs.release_created }}
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"

      - name: Install dependencies
        if: ${{ steps.release-please.outputs.release_created }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel twine

      - name: Package project
        if: ${{ steps.release-please.outputs.release_created }}
        run: python setup.py sdist bdist_wheel

      - name: Upload distributions
        if: ${{ steps.release-please.outputs.release_created }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: twine upload dist/*

