name: test-all-platforms

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name:
          - "ubuntu-py311"
          - "macos-py310"
          - "macos-py311"
#          - "windows-py310"
#          - "windows-py311"

        include:
          - name: "ubuntu-py311"
            python: "3.11"
            os: ubuntu-latest
            tox_env: "py311"
          - name: "macos-py310"
            python: "3.10"
            os: macos-latest
            tox_env: "py310"
          - name: "macos-py311"
            python: "3.11"
            os: macos-latest
            tox_env: "py311"
#          - name: "windows-py310"
#            python: "3.10"
#            os: windows-latest
#            tox_env: "py310"
#          - name: "windows-py311"
#            python: "3.11"
#            os: windows-latest
#            tox_env: "py311"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox virtualenv
      - name: Test build
        run: "tox -e ${{ matrix.tox_env }}"
